.sendermsg
{
position: relative;
width: 90%;
height: auto;
padding: 5px;
margin-left:10%;
margin-bottom:3px;
background: #d6d6d6;
-webkit-border-radius: 24px;
-moz-border-radius: 24px;
border-radius: 24px;
color: black;
}

.sendermsg:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 26px 0px 26px 0;
border-color: transparent #cc0d0d;
display: block;
width: 0;
z-index: 1;
left: -0px;
top: 12px;
}
.receivermsg
{
position: relative;
width: 90%;
height: auto;
padding: 5px;
background: #ee2f2f;
margin-bottom:3px;
-webkit-border-radius: 24px;
-moz-border-radius: 24px;
border-radius: 24px;
color: white;
}

.receivermsg:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 26px 0px 26px 0;
border-color: transparent #cc0d0d;
display: block;
width: 0;
z-index: 1;
left: -0px;
top: 12px;
}
.chat-messages .emojione{
	width: 1.5em;
	height: 1.5em;
	background-image: none;
}