.chat {
	z-index: 6;
	position: fixed;
	/*margin-left: 5%;*/
	color: black;
}

.chat-profile-pic img {
	width: 3em;
	height:3em;
	border-radius: 1.5em;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

.chat-usernames label{
	margin-top: .5em;
}

.well{
	margin-bottom: 1px;
	padding: 9px;
	border: none;
}

.messaging{
	display:none;
}
.toggle{
	display:block !important;
}