@CHARSET "ISO-8859-1";

.propic{
	position: fixed;
	margin-top: -3em;
	margin-left: 2%;
	z-index: 6;
	width:10%;
}
.propic img{
	width:100%;
	border-radius:50%;
}
.main-content{
	height: 100%;
	background-color: #fff;
	margin: 0em 0em 1em 0em;
	padding: .6em;
}
body{
	background-color: #f3f3f3;
}
.navbar {
	z-index: 0;
}
html{
	overflow-x: hidden;
	overflow-y: scroll;
}
