@CHARSET "ISO-8859-1";

.propic{
	position: fixed;
	margin-top: -3em;
	margin-left: 5%;
}
.propic img{
	width:10%; 
	border-radius:50%;
}
#main-content{
	height: 100%;
	background-color: #fff;
}
body{
	background-color: #f3f3f3;
}