@CHARSET "ISO-8859-1";
html{
	overflow-x:hidden;
	overflow-y:scroll;
}
.propic{
	position: fixed;
	margin-top: -3em;
	margin-left: 2%;
	z-index: 6;
	width:10%;
}
.propic img{
	width:100%;
	border-radius:50%;
}
.main-content{
	height: 100%;
	background-color: #fff;
	margin: 0em 0em 1em 0em;
	padding: .6em;
	transition: opacity 2s;
}
body{
	background-color: #f3f3f3;
}
.navbar {
	z-index: 0;
}
.profile-pic img {
	width: 100%;
	border-radius: 50%;
}
.content{
	margin-top: 1em;
	margin-bottom: 1em;
}
.image-content img {
	width: 100%;
}
.buttons-area .glyphicon{
	color: #cc0d0d;
	font-size:20px;
	background-color: inherit;
	border: none;
}
.buttons-area .glyphicon:hover{
	color: #7b0000;
}
.detailBox {
	width: 320px;
	border: 1px solid #bbb;
	margin: 50px;
}

.titleBox {
	background-color: #fdfdfd;
	padding: 10px;
}

.titleBox label {
	color: #444;
	margin: 0;
	display: inline-block;
}

.commentBox {
	padding: 10px;
	border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child
	{
	width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2)
	{
	width: 18%;
}

.actionBox .form-group * {
	width: 100%;
}

.taskDescription {
	margin-top: 10px 0;
}

.commentList {
	padding: 0;
	list-style: none;
	max-height: 200px;
	overflow: auto;
}

.commentList li {
	margin: 0;
	margin-top: 10px;
	transition: opacity 2s;
}

.commenterImage {
	width: 30px;
	margin-right: 5px;
	height: 100%;
	float: left;
}

.commenterImage img {
	width: 100%;
	border-radius: 50%;
}

.commentText p {
	margin: 0;
	word-wrap: break-word;
}

.sub-text {
	color: #aaa;
	font-family: verdana;
	font-size: 11px;
}

.actionBox {
	border-top: 1px dotted #bbb;
	padding: 10px;
}
.form-control:focus{
	border-color: #f66;
	box-shadow: none;
}