@CHARSET "ISO-8859-1";

body {
	background-color: #f3f3f3;
}

.coverpic {
	height: 20em;
}

.coverpic img {
	width: 100%;
	height: 100%;
}

.propic {
	float: none;
	margin: 0 auto;
	margin-top: -8em;
}

.propic img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.Container {
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	height: 20em;
}

.main-content {
	height: 100%;
	background-color: #fff;
	margin: 0em 0em 1em 0em;
	padding: .6em;
	transition: opacity 2s;
}

.profile-pic img {
	width: 100%;
	border-radius: 50%;
}

.content {
	margin-top: 1em;
	margin-bottom: 1em;
}

.image-content img {
	width: 100%;
}

.buttons-area .glyphicon {
	color: #cc0d0d;
	font-size: 20px;
	background-color: inherit;
	border: none;
}

.buttons-area .glyphicon:hover {
	color: #7b0000;
}

.detailBox {
	width: 320px;
	border: 1px solid #bbb;
	margin: 50px;
}

.titleBox {
	background-color: #fdfdfd;
	padding: 10px;
}

.titleBox label {
	color: #444;
	margin: 0;
	display: inline-block;
}

.commentBox {
	padding: 10px;
	border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child
	{
	width: 80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2)
	{
	width: 18%;
}

.actionBox .form-group * {
	width: 100%;
}

.taskDescription {
	margin-top: 10px 0;
}

.commentList {
	padding: 0;
	list-style: none;
	max-height: 200px;
	overflow: auto;
}

.commentList li {
	margin: 0;
	margin-top: 10px;
	transition: opacity 2s;
}

.commentList li>div {
	display: table-cell;
}

.commenterImage {
	width: 30px;
	margin-right: 5px;
	height: 100%;
	float: left;
}

.commenterImage img {
	width: 100%;
	border-radius: 50%;
}

.commentText p {
	margin: 0;
}

sub-text {
	color: #aaa;
	font-family: verdana;
	font-size: 11px;
}

.actionBox {
	border-top: 1px dotted #bbb;
	padding: 10px;
}

.form-control:focus {
	border-color: #f66;
	box-shadow: none;
}

#button1Style {
	background-color: #cc0d0d;
	width: 100px;
	margin-top: 10px;
	border: none;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
}

#button2Style {
	background-color: #cc0d0d;
	width: 100px;
	margin-top: 10px;
	margin-left: 2px;
	border: none;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
}

#button2Style:hover {
	background-color: #7b0000;
}

#button1Style:hover {
	background-color: #7b0000;
}

#buttonStyle {
	margin-top: 2px;
}

.toggle .about {
	display: none;
}

.friends {
	display: none;
	padding: 10px;
}

.toggle .friends {
	display: block;
}

.thumbnail {
	border-radius: 5%;
}

.thumbnail:hover {
	border-color: #ff3333;
	opacity: 0.6;
}

.about .row h4 {
	color: #000000;
	font-size: 15px;
	padding-left: 15px;
}

.about {
	padding-top: 1em;
}
.friends-cards{
	margin-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
.friend {
	padding-bottom: 100%;
	overflow: hidden;
	position: relative
}