@CHARSET "ISO-8859-1";
.jumbotron{
	margin:5em 5% 5em 5%;
	padding-left:30px;
	padding-right: 30px;
	opacity: .9;
	border-radius: 5px;
}
#button1Style {
	background-color: #cc0d0d;
	width: 100%;
	margin-top: 10px;
	border: none;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
}

#button2Style {
	background-color: #cc0d0d;
	width: 100%;
	margin-top: 10px;
	margin-left: 5px;
	border: none;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
}

#button3Style {
	background-color: #cc0d0d;
	width: 100%;
	margin-top: 10px;
	margin-left: 10px;
	border: none;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
}

#button3Style:hover {
	background-color: #7b0000;
}

#button2Style:hover {
	background-color: #7b0000;
}

#button1Style:hover {
	background-color: #7b0000;
}

#buttonStyleicon {
	background-color: #cc0d0d;
	margin-top: 2px;
	border: none;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
}

#buttonStyleicon:hover {
	background-color: #7b0000;
}

#buttonStyle {
	background-color: #cc0d0d;
	width: 100%;
	margin-top: 10px;
	border: none;
	color: #fff;
	border-radius: 5px 5px 0px 0px;
}

#buttonStyle:hover {
	background-color: #7b0000;
}
.mode0 .security{
	display:none !important;
}
.mode0 .change-pic{
	display:none !important;
}
.mode0 .info{
	display:block;
}
.mode1 .info{
	display: none !important;
}
.mode1 .change-pic{
	display: block;
}
.mode1 .security{
	display: none !important;
}
.mode2 .info{
	display: none !important;
}
.mode2 .security{
	display: block;
}
.mode2 .change-pic{
	display: none !important;
}